@import "../variables";
@import "../core";

.section__benefits {
  background: $primary;
  padding: 80px 0;
  @media (max-width: 768px) {
    padding: 50px 0;
  }
}

.benefits {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
  @media (max-width: 1200px) {
    flex-wrap: wrap;
  }
  @media (max-width: 768px) {
    gap: 0;
    margin-top: 30px;
  }
}

.benefits__subtitle {
  max-width: 600px;
  @media (max-width: 680px) {
    max-width: 100%;
  }
}


.benefits__item {
  flex: 0 1 300px;
  background: white;
  padding: 38px 30px 35px 30px;
  border-top: 6px solid $secondary;
  margin-top: 30px;
  @media (max-width: 1200px) {
    flex: 0 1 47%;
    margin-top: 15px;
  }
  @media (max-width: 768px) {
    padding: 25px;
    flex: 0 1 100%;
  }
}
.benefits__icon {
  @media (max-width: 1450px) {
    width: 50px;
    height: 50px;
  }
}
.benefits__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $primaryDark;
  margin-top: 35px;
  @media (max-width: 768px) {
    margin-top: 20px;
  }
}
.benefits__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: black;
  margin-top: 8px;
}