@import "../variables";
@import "../core";
.header {
  display: flex;
  //justify-content: space-between;
  align-items: center;
}

.header__menu {
  margin-left: 60px;
}

.header__nav {
  display: flex;
  gap: 30px;
  li {
    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: $primaryDark;
      transition: .3s color;
    }
  }
  li a:hover {
    color: $secondary;
  }
}
.nav__buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.btn__outline {
  display: inline-block;
  padding: 15px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: $primary;
  margin-right: 15px;
  transition: .3s color;
  &:hover {
    color: $secondary;
  }
}

.btn__primary {
  display: inline-block;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $primary;
  color: #FFFFFF;
  transition: .3s background-color;
  &:hover {
    background-color: $primaryDark;
  }
}

.header__link {
  padding: 20px 15px;
  &.active {
    color: $secondary;
  }
}
.submenu__arrow {
  position: absolute;
  transform: translate(-15px, -4px);
  transition: .3s ease-in;
  &.active {
  }
}
.submenu__path {
  &.active {
    fill: $secondary;
  }
}

.menu__item {
  &.with__submenu {
    position: relative;
    @media (max-width: 1117px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .submenu {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 25px;
      background: $primary;
      &.active {
        display: block;
        animation: fade .3s linear;
        @media (max-width: 1117px) {
          position: static;
        }
      }
      &__item {

      }
      &__link {
        color: white;
        text-transform: none;
        display: flex;
        padding: 15px;
        transition: .3s background-color;
        &:hover {
          background-color: $secondary;
        }
      }
    }
  }
}


////////========= Burger
.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
  margin-left: auto;
}
.header__burger span {
  position: absolute;
  background-color: $primaryDark;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease 0s;

}
.header__burger:before,
.header__burger:after {
  content: "";
  background-color: $primaryDark;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all .3s ease 0s;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}

.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.header__burger.active span {
  transform: scale(0);
}

@media (max-width: 1250px) {
  .logo {
    height: 69px;
    img {
      position: relative;
      top: 50%;
      transform: translateY(-60%);
      width: 200px;
    }
  }
  .header__nav {
    gap: 20px;
  }
  .header__nav {
    display: flex;
    gap: 30px;
    li {
      a {
        font-size: 15px;
      }
    }
  }
  .btn__outline {
    padding: 12px 15px;
    font-weight: 700;
    font-size: 16px;
  }

  .btn__primary {
    padding: 12px 25px;
    font-weight: 700;
    font-size: 16px;
  }

}

@media (max-width: 1117px) {
  .nav__buttons {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header:before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5e5373;
    z-index: -1;
  }
  .header__nav {
    display: flex;
    position: relative;
    top: 40%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    li {
      a {
        font-weight: 400;
        color: white;
        text-decoration: none;
        font-size: 24px;
      }
    }
  }
  .header__menu {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $primary;
    //padding: 100px 10px 20px 40px;
    transition: all 0.6s ease 0s;
    margin-left: 0;
    z-index: 1;
  }
  .header__menu.active {
    top: 0;
  }
  .header__burger.active:after,
  .header__burger.active:before {
    background-color: white;
  }
  .nav__buttons.active {
    display: flex;
    //flex: 0 1 50%;
    z-index: 2;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    gap: 20px;
  }
  .btn__primary {
    flex: 0 1 50%;
    text-align: center;
    background: $secondary;
  }
  .btn__outline {
    flex: 1 1 50%;
    text-align: center;
    background: $secondary;
    margin-right: 0;
    color: white;
  }
  #a {
    order: 1;
  }
  #b {
    order: 3;
  }
}

@media (max-width: 480px) {
  .nav__buttons.active {
    flex-wrap: wrap;
    gap: 10px;
  }
  .btn__primary {
    flex: 0 1 100%;
    padding: 15px 0;
  }
}