@import "../variables";

.statistic {
  max-width: 1000px;
  margin: 370px auto 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  @media (max-width: 745px) {
    margin-top: 200px;
  }
  @media (max-width: 1050px) {
  flex-direction: column;
  }
}
.statistic__item {
  flex: 0 1 315px;
  @media (max-width: 1050px) {
    flex: 100px;
  }
  &:nth-child(2) {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 15px;
      bottom: 15px;
      width: 2px;
      background: $primary;
      @media (max-width: 1050px) {
        display: none;
      }
    }
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 15px;
      bottom: 15px;
      width: 2px;
      background: $primary;
      @media (max-width: 1050px) {
        display: none;
      }
    }
  }
}

.statistic__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-transform: capitalize;
  color: $primary;
  margin-bottom: 4px;
  @media (max-width: 1450px) {
    font-size: 32px;
    line-height: 1;
  }
}
.section__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
color: $primary;
}